---
import IconBehance from '@assets/svg/icon-behance.svg?raw'
import IconDribbble from '@assets/svg/icon-dribbble.svg?raw'
import IconGithub from '@assets/svg/icon-github.svg?raw'
import IconMedium from '@assets/svg/icon-medium.svg?raw'
import IconTwitter from '@assets/svg/icon-twitter.svg?raw'
import IconLinkedIn from '@assets/svg/icon-linkedin.svg?raw'
---

<section class='socials fades-in'>
  <ul class='socials'>
    {
      /* 
      <li>
        <a class='reverseAccent' href='https://behance.com/reffan'>
          <div class='svg-wrapper icon-social'>
            <Fragment set:html={IconBehance} />
          </div>
        </a>
      </li>
    */
    }
    {
      /* 
      <li>
        <a class='reverseAccent' href='https://dribbble.com/reffanliefde'>
          <div class='svg-wrapper icon-social'>
            <Fragment set:html={IconDribbble} />
          </div>
        </a>
      </li>
    */
    }
    <li>
      <a class='reverseAccent' href='https://github.com/reffan'>
        <div class='svg-wrapper icon-social'>
          <Fragment set:html={IconGithub} />
        </div>
      </a>
    </li>
    {
      /* 
      <li>
        <a class='reverseAccent' href='https://medium.com/@reffanliefde'>
          <div class='svg-wrapper icon-social'>
            <Fragment set:html={IconMedium} />
          </div>
        </a>
      </li>
    */
    }
    <!-- <li>
      <a class='reverseAccent' href='https://twitter.com/reffanliefde'>
        <div class='svg-wrapper icon-social'>
          <Fragment set:html={IconTwitter} />
        </div>
      </a>
    </li> -->
    <li>
      <a class='reverseAccent' href='https://linkedin.com/in/reffanliefde'>
        <div class='svg-wrapper icon-social'>
          <Fragment set:html={IconLinkedIn} />
        </div>
      </a>
    </li>
  </ul>
</section>
