---
import BaseLayout from '@layouts/BaseLayout.astro'
import { tagLabels } from '@scripts/utils'

const title = 'Desiger + Developer'
const works = await Astro.glob('../pages/work/*.md')
---

<BaseLayout title={title}>
  <ul>
    {
      works.map((work) => (
        <li>
          <a href={work.url}>{work.frontmatter.title}</a>
          <ul>
            {work.frontmatter.tags.map((tag) => (
              <li>
                <a href={`/tags/${tag}`}>{tagLabels[tag]}</a>
              </li>
            ))}
          </ul>
        </li>
      ))
    }
  </ul>
</BaseLayout>
