---
import { tagLabels } from '@scripts/utilities'

const works = await Astro.glob('../../pages/work/*.mdx')
---

<section class='works fades-in'>
  <div class='responsive-container'>
    <!-- <h1>Work</h1> -->
    <ul class='work-list'>
      {
        works.map((work) => (
          <li class='slides-in'>
            <div class='thumbnails vignette'>
              <a href={work.url}>
                <div class='thumbnails-container'>
                  <img
                    src={`/assets/work/${work.frontmatter.slug}/thumbnails/${work.frontmatter.thumbnails[0]}`}
                    alt=''
                  />
                  <img
                    src={`/assets/work/${work.frontmatter.slug}/thumbnails/${work.frontmatter.thumbnails[1]}`}
                    alt=''
                  />
                </div>
              </a>
            </div>
            <div class='text'>
              <a class='reverse-accent' href={work.url}>
                <h2>{work.frontmatter.title}</h2>
              </a>
              <ul class='tag-list'>
                {work.frontmatter.tags.map((tag: keyof typeof tagLabels) => (
                  <li>{tagLabels[tag] || tag}</li>
                ))}
              </ul>
            </div>
          </li>
        ))
      }
    </ul>
  </div>
</section>
